NugetDemo/Service References/Services/PeopleService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/TestService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TestService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59883/PeopleService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:59883/PeopleService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="ArrayOfPerson">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Person" nillable="true" type="tns:Person" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPerson" nillable="true" type="tns:ArrayOfPerson" />
  <xs:complexType name="Person">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="AdditionalContactInfo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BusinessEntityID" type="xs:int" />
          <xs:element minOccurs="0" name="Customers" nillable="true" type="tns:ArrayOfCustomer" />
          <xs:element minOccurs="0" name="Demographics" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EmailPromotion" type="xs:int" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="NameStyle" type="xs:boolean" />
          <xs:element minOccurs="0" name="PersonType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Suffix" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="rowguid" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="tns:Person" />
  <xs:complexType name="ArrayOfCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Customer" nillable="true" type="tns:Customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomer" nillable="true" type="tns:ArrayOfCustomer" />
  <xs:complexType name="Customer">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q2:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
          <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Person" nillable="true" type="tns:Person" />
          <xs:element minOccurs="0" name="PersonID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="PersonReference" nillable="true" type="q2:EntityReferenceOfPersonUO4nBW_PD" />
          <xs:element minOccurs="0" name="StoreID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="TerritoryID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="rowguid" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
</xs:schema>